@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["user"] != null)
{
    string urlssrs = ((SlaktData.Models.User)Session["user"]).ssrsURL;
    string levNmr = ((SlaktData.Models.User)Session["user"]).levNmr;
    <div class="content">
        <iframe width="100%" height="100%" frameborder="0" src="@urlssrs@levNmr"></iframe>
    </div>
}